[submodule "openfx"]
	path = openfx
	url = https://github.com/devernay/openfx.git
	branch = multiplane1
[submodule "IOSupport/SequenceParsing"]
	path = IOSupport/SequenceParsing
	url = https://github.com/MrKepzie/SequenceParsing
[submodule "SupportExt"]
	path = SupportExt
	url = https://github.com/devernay/openfx-supportext.git
	branch = multiplane1
